{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ]
    ],
    "plugins": [
        [
            "transform-react-jsx",
            {
                "pragma": "Vif.createElement"
            }
        ],
        [
            "prismjs",
            {
                "languages": [
                    "javascript",
                    "css",
                    "markup",
                    "jsx"
                ],
                "plugins": [
                    "line-numbers"
                ],
                "theme": "tomorrow",
                "css": true
            }
        ]
    ]
}