@font-face {
  font-family: "Monaco";
  src: url("/monaco.ttf") format("truetype");
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.router-container {
  display: flex;
}

.route-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 1rem;
}

.app {
  display: flex;
  flex-direction: column;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  color: white;
  padding: 2rem;
}

.code-container {
  background-color: #1d1f21;
  padding: 1rem;
  color: #C8C8C8;
  font-family: Monaco;
  font-size: 14px;
}

.app-header > img {
  height: 6rem;
  width: auto;
  animation: bounce 4s infinite;
}

.app-header > h2 {
  font-weight: 300;
}

.app-instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  user-select: none;
}

@keyframes bounce {
  0% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.9);
  }
}